<div *ngIf="!movieLoading" class="loaning">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="movieLoading" class="search">
  <form [formGroup]="myForm" (input)="search()">
    <input type="text" [formControlName]="'text'" placeholder="Movie....">
  </form>
</div>
<div *ngIf="movieLoading" [class.movies-list]="!dark()" [class.movies-list-dark]="dark()">
  <app-movies-filter (noPopularClick)="noPopular('popularity.asc')"
                     (popularClick)="popular('popularity.desc')"
                     (ratingClick)="rating('vote_average.desc')"
                     (noRatingClick)="noRating('vote_average.asc')"
  >
  </app-movies-filter>
  <div class="movies-list-box">
    <app-movie-list-card *ngFor="let movie of movies?.results" [movie]="movie"></app-movie-list-card>
  </div>
</div>
<div *ngIf="movieLoading" class="movies-list-btn">
  <app-movies-page [page]="movies.page"
                   (nextClick)="next(1)"
                   (backClick)="back(1)"
                   (lastPageClick)="lastPage(movies.total_pages)"
                   (firstPageClick)="firstPage(1)">

  </app-movies-page>
</div>
